<!-- Login Page - Logic provided on slide number 21 in 7-2-->

<form action="/login" method="post">
	<input name="username" />
	<input type="password" name="password" />
	<input type="submit" value="log in" />
</form>