<h1>Add a new student(boyz)</h1>
<form method="POST" action="/students">
	<label for="name"> Name: </label>
	<input type="text" name="student[name]" value="<%= @student.name %>" />
	<label for="age"> Age: </label>
	<input type="number" name="student[age]" value="<%= @student.age %>" />
	<label for="born"> Date(mm/dd/yyyy): </label>
	<input type="text" name="student[born]" value="<%= @student.born.strftime("%m/%d/%Y") if @student.born %>" />
	<label for="bio"> Bio: </label>
	<textarea name="student[bio]"></textarea>
	<input type="submit" value="Save student" />
</form>